@media (min-width : 2560px) {
    .Second-slide h3 {
        font-size: 3rem;
    }

    .Scroller {
        height: 42vh;
    }

    .card {
        flex: 0 0 19em;
    }
}

@media (max-width : 1080px) {
    body {
        display: block;
        min-height: 100vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    header {
        display: flex;
        z-index: 0;
        position: relative;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        box-shadow: none;
    }

    nav {
        width: 100vw;
    }

    .button:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .dropdown_item a:hover {
        color: B0B0B0;
    }

    main {
        margin-left: 0;
    }

    .slide {
        height: 100vh;
        width: 100%;
    }

    .First-slide {
        display: none;
    }

    .about_me,
    .skill {
        height: 80vh;
    }

    .Editing,
    .gaming {
        height: 75vh;
        width: 85vw;
    }

    .content {
        width: 100%;
    }

    .codes {
        width: 100%;
        margin-top: 0;
    }

    .Hashing,
    .Games {
        display: none;
    }

    @media (max-width : 1366px) {

        .Hashing,
        .Games {
            display: block;
        }
    }
}

@media (max-width : 800px) {
    @media (max-height : 1280px) {

        .about_me,
        .skill {
            height: 45vh;
        }

        .Editing,
        .gaming {
            width: 95vw;
        }

        .content {
            width: 100%;
        }

        .Languages {
            justify-content: space-around;
        }

        .codes {
            width: 100%;
            margin-top: 0;
        }
    }
}

@media (max-width : 768px) {

    .about_me,
    .skill {
        height: 75vh;
    }

    .Hashing,
    .Games {
        display: none;
    }
}
